<div class="panel panel-default game-panel">
  <div class="panel panel-heading">
    <h4 class="panel-title game-description-header">{{model.title}}</h4>

  </div>
  <div class="panel-body">
    <p>{{model.description}}</p>

  </div>
</div>

{{outlet}}
